<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>

    <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <remoteHost>k9c206.p.ssafy.io</remoteHost>
        <port>24224</port>
        <tag>member-service</tag>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>



    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FLUENT" />
    </root>
</configuration>




